{% extends "base.html.twig" %}
{% block content %}
<div class='container-fluid'>
    <h1>Card Detail</h1>
    <div class='row justify-content-start'>
        <div class='col-12'>
            <a href='/card/overview' class='btn btn-primary'>Return to overview</a>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-12 justify-content-start'>
            <table class='col-12 table table-dark table-bordered'>
                <thead>
                    <tr>
                        <th>Card name</th>
                        <th>Type</th>
                        <th>Attribute</th>
                        <th>Attack Value</th>
                        <th>Defence Value</th>
                        <th>Card Description</th>
                        <th>Card collection code</th>
                        <th>Card Image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{card.cardName}}</td>
                        <td>{{card.type}}</td>
                        <td>{{card.attribute}}</td>
                        <td>{{card.attackValue}}</td>
                        <td>{{card.defenceValue}}</td>
                        <td>{{card.cardDescription}}</td>
                        <td>{{card.collectionID}}</td>
                        <td>{% if card.imgPath %}<img src="{{ asset('uploads/') ~ card.imgPath }}" alt='img of the card {{card.cardName}}'> {% else %} No image available {% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
