{% extends "base.html.twig" %}
{% block content %}
<div class='container-fluid'>
    <h1>Welcome to the Yu-Gi-Oh! collection tracker</h1>
    <div class='row justify-content-start'>
        <div class='col-12'>
            <a href='' class='btn btn-primary'>Add card</a>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col-12 justify-content-start'>
            <table class='col-12 table table-dark'>
                <thead>
                    <tr>
                        <th>Card name</th>
                        <th>Type</th>
                        <th>Attribute</th>
                        <th>Attack Value</th>
                        <th>Defense Value</th>
                        <th>Card Description</th>
                        <th>Card collection code</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                {% for card in registeredCards %}
                    <tr>
                        <td>{{card.cardName}}</td>
                        <td>{{card.type}}</td>
                        <td>{{card.attribute}}</td>
                        <td>{{card.attackValue}}</td>
                        <td>{{card.defenseValue}}</td>
                        <td>{{card.cardDescription}}</td>
                        <td>{{card.collectionID}}</td>
                        <td>{{card.imgPath}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
